<div class="row">
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quae dolores voluptate sequi animi illo sunt laboriosam, amet aperiam pariatur unde, consequatur debitis aliquam autem assumenda obcaecati, facere neque vel?</p>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugiat, explicabo id reprehenderit numquam vero ipsam possimus illo minima eum dicta ducimus quibusdam incidunt necessitatibus eligendi doloremque? Reprehenderit, voluptatem quibusdam.</p>
  </div>
</div>
