<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Document Management</a>

    <a type="button" class="btn btn-primary ml-auto" *ngIf="isLoggedIn" routerLink="/notifications">
      <!-- Todo get the notification count -->
      Notifications <span class="badge badge-light" *ngIf="notificationNumber.length > 0">{{notificationNumber.length}}</span>
    </a>

    <div>

        <a class="nav-item" *ngIf="!isLoggedIn" routerLink="/login">Login</a>

        <a class="nav-item" *ngIf="isLoggedIn" routerLink="home">Home</a>

        <a class="nav-item" *ngIf="isLoggedIn" routerLink="profile">Profile</a>

        <a class="nav-item" *ngIf="isLoggedIn" href="#" (click)="handleLogout($event)">Logout</a>

        <a class="nav-item" *ngIf="isAdmin" routerLink="admin">Admin</a>

    </div>

</nav>
